@model QuanLySinhVienThucTap.Models.Account

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card card-frame mb-4">
                    <div class="card-header">
                        <h5 class="card-title text-center">Cập nhật thông tin tài khoản</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.AccountID)
                                    <label for="username" class="form-control-label">Tên tài khoản</label>
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="password" class="form-control-label">Mật khẩu</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="role" class="form-control-label">Quyền</label>
                                    @Html.DropDownListFor(model => model.RoleID, new SelectList(new[] {
                                        new SelectListItem { Text = "Admin", Value = "1" },
                                        new SelectListItem { Text = "Teacher", Value = "2" },
                                        new SelectListItem { Text = "Employee", Value = "3" },
                                        new SelectListItem { Text = "Student", Value = "4" },
                                    }, "Value", "Text"), "Chọn quyền", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="status" class="form-control-label">Trạng thái</label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(new[] {
                                        new SelectListItem { Text = "Hoạt động", Value = "True" },
                                        new SelectListItem { Text = "Không hoạt động", Value = "False" },
                                    }, "Value", "Text"), "Chọn trạng thái", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm">
                                <button id="saveButton" class="btn btn-icon btn-3 btn-primary" type="submit">
                                    <span class="btn-inner--icon"><i class="fas fa-save"></i></span>
                                    <span class="btn-inner--text">Lưu thông tin</span>
                                </button>
                                <a href="/Admin/Accounts/Index" class="btn btn-icon btn-3 btn-danger">
                                    <span class="btn-inner--icon"><i class="fas fa-times"></i></span>
                                    <span class="btn-inner--text">Hủy bỏ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
}