@model QuanLySinhVienThucTap.Models.Teacher

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card card-frame mb-4">
                    <div class="card-header">
                        <h5 class="card-title text-center">Thêm giảng viên mới</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="lastname" class="form-control-label">Họ và tên đệm</label>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="form-control-label">Tên giảng viên</label>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="address" class="form-control-label">Địa chỉ</label>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="form-control-label">Số điện thoại</label>
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "tel", pattern = "[0-9]{10,11}", title = "Số điện thoại phải chứa từ 10 đến 11 chữ số" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-control-label">Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="office">Chức vụ</label>
                                    <div class="input-group mb-4">
                                        @Html.DropDownList("Office", new SelectList(new[] { "Giảng viên" , "Phó bộ môn", "Trưởng bộ môn" }), new { @class = "form-control", @id = "classroom" })
                                        <span class="input-group-text"><i class="ni ni-bold-down"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="form-control-label">Ngày sinh</label>
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label><br />
                                    <div class="d-flex">
                                        <div class="form-check me-3">
                                            @Html.RadioButton("gender", "Nam", true, new { @class = "form-check-input", @id = "nam" })
                                            <label class="form-check-label" for="nam">Nam</label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButton("gender", "Nữ", false, new { @class = "form-check-input", @id = "nu" })
                                            <label class="form-check-label" for="nu">Nữ</label>
                                        </div>
                                    </div>
                                </div>
                                <button id="saveButton" class="btn btn-icon btn-3 btn-primary" type="submit" disabled>
                                    <span class="btn-inner--icon"><i class="fas fa-save"></i></span>
                                    <span class="btn-inner--text">Lưu thông tin</span>
                                </button>
                                <a href="/Admin/Teachers/Index" class="btn btn-icon btn-3 btn-danger">
                                    <span class="btn-inner--icon"><i class="fas fa-times"></i></span>
                                    <span class="btn-inner--text">Hủy bỏ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var requiredInputs = document.querySelectorAll('input, select, textarea');

        // Lặp qua các trường input và thêm sự kiện "input" để kiểm tra khi nào người dùng nhập giá trị
        requiredInputs.forEach(function (input) {
            input.addEventListener('input', function () {
                // Kiểm tra xem tất cả các trường input bắt buộc có giá trị không
                var allInputsFilled = Array.from(requiredInputs).every(function (input) {
                    return input.value.trim() !== ''; // Kiểm tra giá trị có trống không
                });

                // Kích hoạt hoặc vô hiệu hóa button "Lưu thông tin" dựa trên kết quả kiểm tra
                document.getElementById('saveButton').disabled = !allInputsFilled;
            });
        });
    </script>
}